#playground
{
    
    height: 100vh;
    position: relative;
}

#square
{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    transition : all 1s ease-in-out;

    
}

#square2
{
    background-color: rgb(234, 196, 26);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
}

#square3
{
    background-color: rgb(221, 139, 8);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
}